@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";
@import "bootstrap/scss/mixins";

.services {
  display: flex;
  gap: 40px;
  flex-wrap: wrap;

  .service {
    display: flex;
    flex-direction: column;
    border-left: 5px solid $light-blue;
    width: calc(50% - 20px);
    padding: 20px;
    gap: 20px;
    justify-content: space-between;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;

    .image {
      display: flex;
      width: 100%;
      min-height: 80px;
      height: auto;
      align-items: center;

      @include media-breakpoint-down(md) {
        width: unset;
      }
    }

    .text {
      display: flex;
      flex-direction: column;
      gap: 5px;
      flex-grow: 1;
    }

    @include media-breakpoint-down(md) {
      width: 100%;
    }
  }
}
