@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";
@import "bootstrap/scss/mixins";

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px,
);

$theme-colors: (
  "primary": $dark-blue,
  "secondary": $secondary,
  "success": $success,
  "info": $light-blue,
  "warning": $yellow,
  "danger": $maroon,
  "light": $light,
  "dark": $dark,
);

$navbar-light-active-color: $light-blue;
$dropdown-link-active-color: $light-blue;
$dropdown-link-active-bg: white;
$dropdown-border-radius: 0px;
$navbar-nav-link-padding-x: 0.9rem;
$link-color: $light-blue;

@import "~bootstrap/scss/bootstrap";
