$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px,
);

$navbar-light-active-color: #268dbc;
$dropdown-link-active-color: #268dbc;
$dropdown-link-active-bg: white;
$dropdown-border-radius: 0px;
@import "~bootstrap/scss/bootstrap";
