$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px,
);

$navbar-light-active-color: $light-blue;
$dropdown-link-active-color: $light-blue;
$dropdown-link-active-bg: white;
$dropdown-border-radius: 0px;
$navbar-nav-link-padding-x: 0.9rem;

@import "~bootstrap/scss/bootstrap";
