.logo {
  display: flex;
  gap: 10px;

  .text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #07476d;
    font-weight: 500;

    .first {
      font-size: 33px;
      line-height: 1.3em;
    }
    .second {
      font-size: 15px;
    }
  }
}
