.logo {
  display: flex;
  gap: 5px;

  .text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: $dark-blue;

    .first {
      font-size: 26px;
      line-height: 1.1em;
      font-weight: 500;
    }
    .second {
      font-size: 12px;
      font-weight: 500;
    }
  }
}
