@import "styles/_mixins.scss";

.container {
  display: flex;
  margin: 25px 0px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  background: white;
  padding: 20px;
  gap: 20px;

  @include md-down {
    flex-direction: column;
  }

  .image {
    flex: 4;

    img {
      width: 100%;
      height: auto;
      object-fit: cover;
    }
  }
  .text {
    flex: 6;
  }
}
