.container {
  position: relative;
  height: 400px;
  overflow: hidden;

  &.responsive {
    height: min(400px, calc(50vw));
  }

  .image {
    height: 100%;
    width: 100%;
    object-fit: cover;

    &.top {
      object-position: top;
    }
    &.bottom {
      object-position: bottom;
    }
    &.center {
      object-position: center;
    }
  }

  .content {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    background-color: rgba($color: #000000, $alpha: 0.4);
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    flex-direction: column;
    padding: 0px 50px;

    .text {
      max-width: 800px;
    }
  }
}
